.headerbackground {
    background-image: url("https://discovery-center.cloud.sap/images/homepageBanner.png");
    background-size: cover;
    width: 101% !important;
}

.overviewPageTitle {
    font-size: 2.215rem;
    color: #fff;
}

.overviewPageSubTitle {
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 0.8;
}

.bodyTitle {
    font-size: 13px !important;
    line-height: 14px;
    color:#6F7275 !important;
    letter-spacing: 0.15rem;
}

.bodySubTitle {
    font-size: 2rem;
    font-weight: lighter;
}

.textBold {
    font-size: 1.2rem;
    font-weight: bold;
}

.textCenter {
    text-align: center;
}

.cardText {
    font-weight: lighter;
    line-height: 200% !important;
    color:#6F7275 !important;
    font-size: 1rem !important; 
}

.sapUiSizeCompact .sapMBtnContent {
    line-height: 1.5rem;
}

.span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none;
    background-color: #0a6ed1;
    border-color: #0a6ed1;
    color: #fff;
}

.noBorder>.sapMCrslControlsNoArrows.sapMCrslControlsBottom {
    border: none;
}

.sapMCrslControlsNoArrows.sapMCrslControlsBottom {
    border: none;
}

.sapMCrslInner .sapFCard {
    border-radius: unset !important;
}

.grayBackground {
    background: #fbfbfc;
}

.sapMHBox>.sapMFlexItem>.sapMLnk {
    color: #0a6ed1;
    font-weight: bold;
    text-decoration: none !important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.footerBackground {
    background-color: #dddfe2;
}

.sapMHBox>.sapMFlexItem>.sapMLnk:hover {
    color: #1261af;
    text-decoration: none !important;
}

.bodySection {
    margin-top: 0 !important;
}

.bodySection>.sapUxAPObjectPageSectionHeader {
    height: 0 !important;
}

.bodySubSection {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.bodySubSection>.sapUxAPBlockContainer {
    padding: 0 !important;
}

.bodySubSection .sapUiRespGrid.sapUiRespGridHSpace1 {
    padding: 0 !important;
}

.bodySubSection>.sapUxAPBlockContainer {
    margin: 0 !important;
}

.bodySubSection>.sapUxAPBlockContainer>.sapUiRespGrid.sapUiRespGridHSpace1>div {
    margin: 0 !important;
}